.option {
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Inter';
    color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .option {
        height: 58px !important;
        width: 100% !important;
        font-size: 30px;
        border-radius: 9999px;
    }
}