body {
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.App .help {
    position: fixed;
    top: 38px;
    left: 38px;
}

.App .container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.App .container:first-child {
    justify-content: center;
}

.App .container:last-child {
    padding: 96px 72px;
}

.App .container .color-container {
    display: flex;
}

@media (max-width: 1200px) {
    .App {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 13px;
    }
    .App .help {
        width: 32px;
        top: 14px;
        left: 14px;
    }
    .App .container {
        width: 242px;
        height: auto;
        padding: 0 !important;
        row-gap: 13px;
    }
    .App .container .color-container {
        width: 100%;
    }
}